<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="myapp">

  <div data-ng-controller="UserLookup" >
    <form name="userForm" role="form">
      <label for="username">GitHub username: </label>
      <input type="text" name="username" data-ng-model="username" required />
      <button data-ng-click="lookupUser(userForm)" class="btn btn-default">Submit</button>
      <span class="label label-danger" data-ng-show="submitted && userForm.username.$error.required">Required!</span>

    </form>
    <br/>
    Data from server: {{repoData.res}}
  </div>

  <script>
    angular.module("myapp", [])
        .controller("UserLookup", function($scope, $http) {
            $scope.repoData = {};
            $scope.req = {};
            $scope.username = "damc-dev";

            $scope.lookupUser = function(form) {
              console.log(form);
              $scope.submitted = true;

              if(form.$invalid){
                return;
              }
              $scope.req.username = $scope.username;

              var responsePromise = $http.get("https://api.github.com/users/" + $scope.req.username + "/repos");

              responsePromise.success(function(data, status, headers, config) {
                console.log(data);
                $scope.repoData.res = data;
              });
              responsePromise.error(function(data, status, headers, config) {
                console.error("Error: AJAX request failed.");
              });
            };
        } );
  </script>

</body>

</html>
